.add-contact {
    margin: 30px auto;
    width: 500px;
}

.add-contact-box {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px 20px;
    width:100%;
}

.add-contact-header {
    padding: 15px 0;
}

.add-contact-body-item {
    margin: 10px 0;
}

.add-contact-body-item input {
    border: 1px solid #666;;
    border-radius: 5px;
    display: inline-block;
    outline-color: rgb(161, 122, 23);
    padding: 10px 20px;
    width: 100%;
}

.btn-add {
    background-color: inherit;
    border: 1px solid #666;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    margin: 15px 0;
    outline: none;
    padding: 10px 20px;
    transition: 0.3s border-color, 0.3s box-shadow, 0.3s color;
    width: 100%;
}

.btn-add:hover {
    border-color: rgb(161, 122, 23);
    box-shadow: 0 0.5px 3px #333;
    color: rgb(161, 122, 23);
}