.add-contact {
   margin: 30px auto;
   width: 500px;

   .add-contact-box {
      border: 1px solid #999;
      border-radius: 5px;
      padding: 10px 20px;
      width: 100%;

      .add-contact-body {
         .btn-add {
            background-color: inherit;
            border: 2px solid #666;
            box-shadow: 0 1px 2px #999;
            border-color: goldenrod;
            border-radius: 5px;
            color: goldenrod;
            cursor: pointer;
            font-weight: bold;
            margin: 15px 0;
            outline: none;
            padding: 10px 20px;
            transition: 0.3s border-color, 0.3s box-shadow, 0.3s color;
            width: 100%;

            &:active {
               box-shadow: 0 1px 3px #666;
            }
         }
      }
   }
}