.navbar {
    align-items: center;
    background-color: rgb(34, 158, 34);
    display: flex;
    justify-content: space-around;
}

.brand-box {
    color: #eee;
}

.search-box {
    text-align: center;
    width: 270px;
}

.search-box input {
    width: 100%;
}

.tabs {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 15px 0;
}

.tabs li {
    flex-grow: 1;
    padding: 0 20px;
}

.tabs li a {
    color: #eee;
    text-decoration: none;
    transition: color 0.3s ease;
}

.tabs li a:hover {
    color: #aaa;
    cursor: pointer;
}